.jumbotron{
    padding: 2rem 1rem;
    background-color: rgb(255, 240, 158);
}
.gold{
    background-color: gold;
}
.yellow{
    background-color: yellow;
}
.table{
    background-color: rgb(255, 240, 158);
}
.t1{
    background-color: rgb(250, 249, 243);
}
.t2{
    background-color: rgb(227, 230, 107);
}